<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My First WebApp | Signup</title>
</head>
<body>
    <form action="{% url 'useraccount:sign_up' %}" method="post">
            {% csrf_token %}
            {{user_form.as_p}}
            {{user_acc_form.as_p}}
            <br/>
            <input type="submit" name="submit" value="Sign up">
    </form>
    
</body>
</html>