body {
    color: rgb(12, 145, 56);
}
ul{
    padding-left:20px;
}

.logo{
    list-style-type: none;
    color: white;
    margin-left: 0px;
}
header{
    height: 50px;
    width: 100%;
    background-color:black;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: left;
}
img{
    margin:auto;
    height:300px;
    width:500px;
    float: right;
    position:absolute;
    top:150px;
    left:280px;
    border-radius:100%;
}